<div class="row" style="padding: 15px;">
    <div class="col-12">
        <div class="alert alert-primary text-center row" role="alert">
            <div class="col-12">
                <h3>Usuarios </h3>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="text-center col-12">
                <h1>Usuarios Actuales</h1>
            </div>
            <div class="col-10 container" style="padding-bottom: 15px;">
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">Nombre Completo</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of usuarios">
                            <td>{{item.nombre}}</td>
                            <td>{{item.correo}}</td>
                            <td>{{item.telefono}}</td>
                            <td>{{item.rol}}</td>
                            <td>
                                <div class="row ">
                                    <div class="col-4">
                                        <i class="fas fa-edit" type="button" data-bs-toggle="modal" href="#editModal" (click)="getUser(item.id)"></i>
                                    </div>
                                    <div class="col-4">
                                        <i class="fas fa-trash-alt" type="button" (click)="deleteUser(item.id)"></i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 container" style="padding-bottom: 30px;">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" href="#createModal"><i
                        class="fas fa-user-plus"></i>__crear Usuario</button>
            </div>
        </div>
    </div>
    <div class="col-8 container">
        <div class="row" style="padding-bottom: 30px;">
            <div class="col-2">
                <span>Buscar por:</span>
            </div>
            <div class="col-4">
                <select class="form-select" aria-label="Default select example">
                    <option selected>selecciona una opcion</option>
                    <option value="1">Nombre</option>
                    <option value="2">Correo</option>
                    <option value="3">Telefono</option>
                </select>
            </div>
            <div class="col-6">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-10 container">
        <table class="table table-bordered">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Nombre Completo</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>algo</td>
                    <td>algo</td>
                    <td>algo</td>
                    <td>
                        <div class="row ">
                            <div class="col-4">

                                <i class="fas fa-edit" type="button" data-bs-toggle="modal" href="#editModal"></i>
                            </div>
                            <div class="col-4">
                                <i class="fas fa-trash-alt" type="button"></i>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12 container" style="padding-top: 50px;">
        <button class="btn btn-primary" (click)="redirecTo('/home/homeAdmin')"><i class="fas fa-home"
                type="button"></i>__Panel Admin</button>
    </div>

    <!-- //editModal -->
    <div class="modal fade" id="editModal" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Editar Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form onsubmit="return false">
                        <div class="row">
                            <div class="col-6 mb-3" [formGroup]="usuarioValidate">
                                <label class="form-label">Nombre Completo</label>
                                <input type="text" formControlName="nombre" class="form-control" placeholder="{{editUsuario.nombre}}">
                            </div>
                            <div class="col-6 mb-3" [formGroup]="usuarioValidate">
                                <label class="form-label">Telefono</label>
                                <input type="number" formControlName="telefono" class="form-control" placeholder="{{editUsuario.telefono}}">
                            </div>

                            <div class="col-6 mb-3" [formGroup]="usuarioValidate">
                                <label class="form-label">Correo Electronico</label>
                                <input type="email" formControlName="correo" class="form-control" placeholder="{{editUsuario.correo}}">
                            </div>
                            <div class="col-6 mb-3" [formGroup]="usuarioValidate">
                                <label class="form-label">Contraseña</label>
                                <input formControlName="password" class="form-control" placeholder="{{editUsuario.password}}">
                            </div>

                            <div class="col-6 mb-3" [formGroup]="usuarioValidate">
                                <label class="form-label">Rol</label>
                                <select class="form-select" formControlName="rol" id="rol" [(ngModel)]="rol">
                                    <option selected>{{editUsuario.rol}}</option>
                                    <option value="Admin">Admin</option>
                                    <option value="Alumno">Alumno</option>
                                </select>
                            </div>
                            <div class="col-12 container">
                                <button type="submit" class="btn btn-primary" (click)="updated_user()" data-bs-dismiss="modal">Actualizar usuario</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- //createModal usuarioValidate -->
    <div class="modal fade" id="createModal" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Crear Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form onsubmit="return false">
                        <div class="row">
                            <div class="col-6 mb-3" [formGroup]="usuarioValidate">
                                <label class="form-label">Nombre Completo</label>
                                <input type="text" formControlName="nombre" class="form-control">
                            </div>
                            <div class="col-6 mb-3" [formGroup]="usuarioValidate">
                                <label class="form-label">Telefono</label>
                                <input type="number" formControlName="telefono" class="form-control">
                            </div>

                            <div class="col-6 mb-3" [formGroup]="usuarioValidate">
                                <label class="form-label">Correo Electronico</label>
                                <input type="email" formControlName="correo" class="form-control">
                            </div>
                            <div class="col-6 mb-3" [formGroup]="usuarioValidate">
                                <label class="form-label">Contraseña</label>
                                <input formControlName="password" class="form-control">
                            </div>

                            <div class="col-6 mb-3" [formGroup]="usuarioValidate">
                                <label class="form-label">Rol</label>
                                <select class="form-select" formControlName="rol" id="rol" [(ngModel)]="rol">
                                    <option selected>selecciona una opcion</option>
                                    <option value="Admin">Admin</option>
                                    <option value="Alumno">Alumno</option>
                                </select>
                            </div>

                            <div class="col-12 container">
                                <button type="submit" class="btn btn-primary" (click)="create_user()" data-bs-dismiss="modal">Guardar Usuario</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>