<div class="row" style="padding: 15px;">
    <div class="col-12">
        <div class="alert alert-primary text-center row" role="alert">
            <div class="col-12">
                <h3>Perfil Administrativo</h3>
            </div>
        </div>
    </div>
    <div class="col-12 container" style="padding-bottom: 30px;">
        <div class="card" style="width: 25rem;">
            <img src="../../../../../assets/perfil2.png" class="card-img-top">
            <div class="card-body">
                <div class="form-outline mb-4">
                  <label class="form-label">Nombre completo</label>
                  <div class="alert alert-primary" role="alert">
                    {{perfil.nombre}}
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label">Correo Electronico</label>
                  <div class="alert alert-primary" role="alert">
                    {{perfil.correo}}
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label">Telefono</label>
                  <div class="alert alert-primary" role="alert">
                    {{perfil.telefono}}
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label">Rol</label>
                  <div class="alert alert-primary" role="alert">
                    {{perfil.rol}}
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
<div class="col-12 container" style="padding-top: 5px;">
    <button class="btn btn-primary" (click)="redirecTo('/home/homeAdmin')"><i class="fas fa-home"type="button"></i>__Panel Admin</button>
</div>