<div class="row" style="padding: 15px;">
    <div class="col-12">
        <div class="alert alert-primary text-center row" role="alert">
            <div class="col-12">
                <h3>Asignaciones</h3>

            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="text-center col-12">
                <h1>Asignaciones Actuales</h1>
            </div>
            <div class="col-10 container" style="padding-bottom: 15px;">
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">id Asignacion</th>
                            <th scope="col">Alumno</th>
                            <th scope="col">Curso</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let asignacion of asignaciones">
                            <td>{{asignacion.id}}</td>
                            <td>{{asignacion.nombre}}</td>
                            <td>{{asignacion.nombre_curso}}</td>
                            <td>
                                <div class="row ">
                                    <div class="col-4">

                                        <i class="fas fa-edit" type="button" data-bs-toggle="modal" href="#editModal"
                                            (click)="getAsignacion(asignacion.id)"></i>
                                    </div>
                                    <div class="col-4">
                                        <i class="fas fa-trash-alt" type="button"></i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 container" style="padding-bottom: 30px;">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" href="#createModal"><i
                        class="fas fa-calendar-plus"></i>__crear Asignacion</button>
            </div>
        </div>
    </div>
    <div class="col-10 container">
        <div class="row" style="padding-bottom: 30px;">
            <div class="col-4">
                <span>Filtrar por:</span>
            </div>
            <div class="col-6">
                <select class="form-select">
                    <option selected>selecciona una opcion</option>
                    <option value="1">Alumno</option>
                    <option value="2">Curso</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-10 container">
        <table class="table table-bordered">
            <thead>
                <tr class="table-primary">
                    <th scope="col">id Asignacion</th>
                    <th scope="col">Alumno</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of asignaciones">
                    <td>algo</td>
                    <td>algo</td>
                    <td>algo</td>
                    <td>
                        <div class="row ">
                            <div class="col-4">
                                <i class="fas fa-edit" type="button" data-bs-toggle="modal" href="#editModal"></i>
                            </div>
                            <div class="col-4">
                                <i class="fas fa-trash-alt" type="button"></i>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12 container" style="padding-top: 50px;">
        <button class="btn btn-primary" (click)="redirecTo('/home/homeAdmin')"><i class="fas fa-home"
                type="button"></i>__Panel Admin</button>
    </div>

    <!-- //editModal -->
    <div class="modal fade" id="editModal" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Editar Asinacion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form onsubmit="return false">
                        <div class="mb-3" [formGroup]="asignacionValidate" *ngFor="let item of asignacion">
                            <label class="form-label">Alumno</label>
                            <input class="form-control" formControlName="user_id" readonly placeholder="{{item.nombre}}"
                                [(ngModel)]="userId" style="background-color: white;">
                        </div>
                        <div class="mb-3" [formGroup]="asignacionValidate">
                            <label class="form-label">Curso</label>

                            <select class="form-select" formControlName="curso_id" [(ngModel)]="cursoId">
                                <option selected="true" *ngFor="let item of asignacion">{{item.nombre_curso}}</option>
                                <option *ngFor="let curso of cursos" value="{{curso.id}}">{{curso.nombre_curso}}
                                </option>
                            </select>
                        </div>
                        <div class="container">
                            <button type="submit" class="btn btn-primary" (click)="validate_curso()">actualizar
                                Asignacion</button>
                        </div>
                      <!--   <div class="alert alert-primary" role="alert">
                            el alumo tiene asignados los siguientes cursos:
                            <ul *ngFor="let item of cursosUser">{{item.nombre_curso}}</ul>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- //createModal -->
    <div class="modal fade" id="createModal" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Crear Asignacion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form onsubmit="return false">
                        <div class="mb-3" [formGroup]="asignacionValidate">
                            <label class="form-label">Alumno</label>
                            <select class="form-select" formControlName="user_id" [(ngModel)]="userId">
                                <option *ngFor="let item of alumnos" value="{{item.id}}">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="mb-3" [formGroup]="asignacionValidate">
                            <label class="form-label">Curso</label>
                            <select class="form-select" formControlName="curso_id" [(ngModel)]="cursoId">
                                <option *ngFor="let curso of cursos" value="{{curso.id}}">{{curso.nombre_curso}}
                                </option>
                            </select>
                        </div>
                        <div class="container">
                            <button type="submit" class="btn btn-primary" (click)="createAsignacion()">Crear
                                Asignacion</button>
                        </div>
                        <div class="alert alert-primary" role="alert">
                            el alumo tiene asignados los siguientes cursos:
                            <ul *ngFor="let item of cursosUser">{{item.nombre_curso}}</ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>