<div class="row" style="padding: 15px;">
  <div class="col-12">
    <div class="alert alert-primary text-center" role="alert">
      <h3>Panel Administrativo</h3>
    </div>
  </div>
  <div class="col-12" style="padding-top: 50px;">
    <div class="row">
      <div class="col-3">
        <div class="card container" style="width: 15rem;">
          <img src="../../../../../assets/perfilUser.png" class="card-img-top imagen">
          <div class="card-body">
            <a class="btn btn-primary" (click)="redirecTo('admin/perfilAdmin')">Perfil</a>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card container" style="width: 15rem;">
          <img src="../../../../../assets/asignaciones.png" class="card-img-top imagen">
          <div class="card-body">
            <a class="btn btn-primary" (click)="redirecTo('admin/asignaciones')">Asignaciones</a>
          </div>
        </div>
      </div>
      
      <div class="col-3">
        <div class="card container" style="width: 15rem;">
          <img src="../../../../../assets/cursos.png" class="card-img-top imagen">
          <div class="card-body">
            <a class="btn btn-primary" (click)="redirecTo('admin/cursos')">cursos</a>
          </div>
        </div>
      </div>
      
      <div class="col-3">
        <div class="card container" style="width: 15rem;">
          <img src="../../../../../assets/usuarios.png" class="card-img-top imagen">
          <div class="card-body">
            <a class="btn btn-primary" (click)="redirecTo('admin/usuarios')" >Usuarios</a>
          </div>
        </div>
      </div>
    
    </div>
  </div>
  <div class="col-12 container" style="padding-top: 50px;" >
    <button class="btn btn-primary" (click)="redirecTo('/home/homeAdmin')"> Logout <i class="fas fa-sign-out-alt" type="button"></i></button>
  </div>
</div>

